<div id="<%= dom_id assignee %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= assignee.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= assignee.email %>
  </p>

</div>
