<% content_for :title, "New todo" %>
<section class="flex flex-col gap-4 w-full">
  <h1 class="text-xl font-bold text-blue-600">New todo</h1>
  <div>
    <%= render "form", todo: Todo.new %>
  </div>
  <div>
    <%= link_to "Go Back", todos_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out" %>
  </div>
</section>
